@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
    font-family: "Montserrat", Helvetica, sans-serif;
    background: radial-gradient( ellipse at center, rgba(194, 234, 219, 1) 0%, rgba(227, 215, 242, 1) 74%, rgba(227, 215, 242, 1) 74%);
    background-size: 300%;
    padding: 3em;
    color: #333;
}

a {
    font-weight: 400;
    font-size: 18px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

a:hover {
    -webkit-transition: normal;
    transition: normal;
}

h1 {
    font-size: 48px;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

.wrapper {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    background: #fff;
    box-shadow: 0 2px 4px #0056a1;
}

.menu li {
    width: 20%;
    height: 110px;
    box-sizing: border-box;
    display: block;
    float: left;
    list-style: none;
    position: relative;
    display: table;
    border-bottom: 0px solid #007fed;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.menu li:hover {
    border-bottom: 8px solid #003b6e;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.menu li:hover a {
    color: #003b6e;
}

.menu li:hover .face {
    border-color: #003b6e;
    background: #0064ba;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.menu li a {
    display: block;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
}

.menu li h1 span:first-child {
    margin-right: 16px;
}

.menu li h1 small {
    display: block;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 4px;
}

.cube {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -12px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cube .face {
    width: 28px;
    height: 28px;
    border: 2px solid #0064ba;
    background: #007fed;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    position: absolute;
    border-radius: 2px;
}

.cube .face.front {
    -webkit-transform: rotateY(0deg) translateZ(14px);
    transform: rotateY(0deg) translateZ(14px);
}

.cube .face.back {
    -webkit-transform: rotateX(180deg) translateZ(14px);
    transform: rotateX(180deg) translateZ(14px);
}

.cube .face.right {
    -webkit-transform: rotateY(90deg) translateZ(14px);
    transform: rotateY(90deg) translateZ(14px);
}

.cube .face.left {
    -webkit-transform: rotateY(-90deg) translateZ(14px);
    transform: rotateY(-90deg) translateZ(14px);
}

.cube .face.top {
    -webkit-transform: rotateX(90deg) translateZ(14px);
    transform: rotateX(90deg) translateZ(14px);
}

.cube .face.bottom {
    -webkit-transform: rotateX(-90deg) translateZ(14px);
    transform: rotateX(-90deg) translateZ(14px);
}