<html>

<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css" />
</head>

<body>
    <div>
        <a href="/" class="btn btn-primary">Geri</a>
        <form action="/adminlogin" method="POST">
            <h2>Yönetici Giriş</h2>

            <input type="text" name="admin" class="text-field" placeholder="Kullanıcı" />
            <input type="password" name="admin_pass" class="text-field" placeholder="Şifre" />

            <input class="button" name="adminlogin" type="submit" value="Giris Yap" />

        </form>
    </div>


</body>

</html>