<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />
</head>

<body>
    <div>
        <section class='header'>
            <header>
                <ul class='menu'>
                <li>
                        <div class="logo">
                            <div class="paper">
                            </div>
                            <div class="paper">
                            </div>
                            <div class="paper">
                            </div>
                            <div class="paper">
                            </div>
                            <div class="paper">
                            </div>
                            <div class="paper">
                            </div>
                            <div class="paper">
                            </div>
                            <div class="paper">
                            </div>
                            <div class="paper">
                            </div>
                            <div class="paper">
                            </div>
                            <div class="paper">
                            </div>
                            <div class="paper">
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href='/admin'>Ana Sayfa</a>
                    </li>
                    <li>
                        <a href='/admin_book'>Yeni Kitap</a>
                    </li>
                    <li>
                        <a href='/admin_users'>Üyeler</a>
                    </li>
                    <li class="logout">
                        <a href='/logout'>Çıkış Yap</a>
                    </li>
                </ul>
            </header>
        </section>

        <div style="margin-top: 120px;" class="container">
            <h3>Kitap Kayıt</h3>
            <hr>
            <form action="/book_add" method="POST">
                <div class="form-group">
                    <label for="formGroupExampleInput">Kitap Adı</label>
                    <input type="text" name="title" class="form-control" id="formGroupExampleInput" placeholder="Kitap Adı Bilgisi">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Yazar</label>
                    <input type="text" name="author" class="form-control" id="formGroupExampleInput2" placeholder="Yazar Bilgisi">
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput2">Tür</label>
                    <select class="form-control" id="select_type" name="select_type">
                        <option value ="">Tür Bilgisi</option>
                        {% for type in types %}
                            <option value="{{ type.type }} ">{{ type.type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Barkod</label>
                    <input type="text" name="barcode" class="form-control" id="formGroupExampleInput4" placeholder="Barkod Bilgisi">
                </div>
                <button type="submit" class="btn btn-primary">Ekle</button>

                {% with messages = get_flashed_messages(category_filter=["wrong"]) %} {% if messages %} {% for message in messages %}
                <div class="alert-error">{{ message }}</div>
                {% endfor %} {% endif %} {% endwith %}

                {% with messages = get_flashed_messages(category_filter=["success"]) %} {% if messages %} {% for message in messages %}
                <div class="alert-success">{{ message }}</div>
                {% endfor %} {% endif %} {% endwith %}
            </form>
            
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

<style>
    .alert-error {
    padding: 8px;
    color: red;
}
.alert-success {
    padding: 8px;
    color: green;
}
</style>

</html>