<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/search.css" />
</head>


<body>
    <div>
        <section class='header'>
            <header>
                <ul class='menu'>
                    <li>
                        <div class="logo">
                            <div class="paper"></div>
                            <div class="paper"></div>
                            <div class="paper"></div>
                            <div class="paper"></div>
                            <div class="paper"></div>
                            <div class="paper"></div>
                            <div class="paper"></div>
                            <div class="paper"></div>
                            <div class="paper"></div>
                            <div class="paper"></div>
                            <div class="paper"></div>
                            <div class="paper"></div>
                        </div>
                    </li>
                    <li>
                        <a href='/admin'>Ana Sayfa</a>
                    </li>
                    <li>
                        <a href='/admin_book'>Yeni Kitap</a>
                    </li>
                    <li>
                        <a href='/admin_users'>Üyeler</a>
                    </li>
                    <li class="logout">
                        <a href='/admin_auth' method="GET" >Çıkış Yap</a>
                    </li>
                </ul>
            </header>
        </section>

        <div style="margin-top: 200px;" class="container">

            <form action="/admin_book_search" method="POST" id="searchform">
                <input type="text" name="admin_book_search" id="search-bar" placeholder="Kitap,Yazar Adı ya da Barkod Girin" />
                <ul class="output" style="display:none;"></ul>
                <button type="submit" name="admin_book_search" id="submit">Bul</button>
            </form>

            <div id="result"></div>

            <table class="table table-hover">
                <br><br><br>
                <h3>Kitap Listesi</h3>
                <thead>
                    <tr>
                        <th scope="col">Barkod</th>
                        <th scope="col">Kitap Adı</th>
                        <th scope="col">Yazar</th>
                        <th scope="col">Tür</th>
                        <th scope="col">Durum</th>
                    </tr>
                </thead>
                <tbody>
                    {% if results: %} {%for result in results %}
                    <tr>
                        <th scope="row">{{result.barcode}}</th>
                        <td>{{result.title}}</td>
                        <td>{{result.author}}</td>
                        <td>{{result.type}}</td>
                        {% if result.status==True %}
                        <td>available</td>
                        <td><a href="/book_delete/{{result.id}}" class="btn btn-danger">Sil</a> {% else %}
                            <td>unavailable</td>
                             <td><a href="/getInfo/{{result.id}}"><button type="button" class="btn btn-primary">Bilgi</button>
                                </a>
                            </td>
                            {% endif %}
                    </tr>
                    {% endfor %} {% else %} {%for book in books %}
                    <tr>
                        <th scope="row">{{book.barcode}}</th>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.type}}</td>
                        {% if book.status==True %}
                        <td>available</td>
                        <td><a href="/book_delete/{{book.id}}" class="btn btn-danger">Sil</a> {% else %}
                            <td>unavailable</td>
                            <td><a href="/getInfo/{{book.id}}"><button type="button" class="btn btn-primary">Bilgi</button>
                                </a>
                            </td>
                            {% endif %}
                    </tr>
                    {% endfor %} {% endif %}
                </tbody>
            </table>
        </div>
    </div>


</body>

</html>