<html>

<head>

    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/search.css" />
</head>

<body>
    <div>
        <section class='header'>
            <header>
                <ul class='menu'>
                    <li class="anasayfa">
                        <a href='/home'>Ana Sayfa</a>
                    </li>
                    <li>
                        <a href='#'>Kitaplar</a>
                    </li>
                    <li>
                        <a href='#'>Profil</a>
                    </li>
                    <li>
                        <a href='#'></a>
                    </li>
                    <li class="logout">
                        <a href='/logout'>Çıkış Yap</a>
                    </li>
                </ul>
            </header>
        </section>
        <br><br><br><br><br><br><br><br><br>

        <form id="searchform">

            <input type="text" id="search-bar" autocomplete="off" placeholder="Kitap ya da Yazar Adı Girin" />
            <ul class="output" style="display:none;">
            </ul>
            <select class="form-kat" id="select_type" name="select_type">
                    <option value ="">Kategori</option>
                    {% for type in types %}
                        <option value="{{ type.type }} ">{{ type.type }}</option>
                    {% endfor %}
                </select>
            <button type="submit" id="submit">Bul</button>
        </form>


    </div>



</html>