<html>

<head>

    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />

</head>

<body>
    <section class='header'>
        <header>
            <ul class='menu'>
                <li class="anasayfa">
                    <a href='#'>Ana Sayfa</a>
                </li>
                <li>
                    <a href='#'>Profil</a>
                </li>

                <li class="logout">
                    <a href='/logout'>Çıkış Yap</a>
                </li>
            </ul>
        </header>
    </section>



</body>

</html>